{% extends "base_login_required.html" %}

{% block contents %}
  <section class="card">
    <h1>Q{{ object.question.id }}. {{ object.question.title }}</h1>
    <hr>
    <div class="sentence">
      {{ object.question.sentence|linebreaks }}
    </div>
    {% for message in messages %}
      <div class="message">
        <p>{{ message|linebreaks }}</p>
      </div>
    {% endfor %}
    {% if not object.is_clear %}
      <form method="post" action="{%url 'answer' object.question.id %}" class="pure-form">
        <fieldset>
          {% csrf_token %}
          {{ form.as_p }}
          <button class="pure-button pure-button-primary" type="submit">Submit</button>
        </fieldset>
      </form>
    {% else %}
      <strong>Complete!</strong>
    {% endif %}
  </section>
{% endblock %}
