{% extends "base_login_required.html" %}

{% block contents %}
  {% for level_questions in objects %}
    <section class="card">
      <h1>Level.{{ level_questions.level.stage }}</h1>
      <table class="pure-table nmkn-table">
        <thead>
         <tr>
            <th class="id">ID</th>
            <th class="title">Title</th>
            <th class="points">Points</th>
            <th class="answer-points">Points you got</th>
            <th class="complete">Complete?</th>
         </tr>
        </thead>
        <tbody>
          {% for objects in level_questions.questions %}
            {% if not objects.question.id == None %}
              <tr>
                <td>{{ objects.question.id }}</td>
                <td><a href="{%url 'question' objects.question.id %}">{{ objects.question.title }}</a></td>
                <td>{{ objects.question.points }}</td>
                <td>{{ objects.scored_points }}</td>
                <td style="text-align:center;">
                  {% if objects.question.points == objects.scored_points %}
                    <i class="fi-crown good"></i>
                  {% else %}
                    <i class="fi-x bad"></i>
                  {% endif %}
                </td>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </section>
  {% endfor %}
{% endblock %}
