{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>LinuxChallenge!!</title>
    <link href="{% static  'pure/pure-min.css' %}" rel="stylesheet">
    <link href="{% static  'foundation-icons/foundation-icons.css' %}" rel="stylesheet">
    <link href="{% static  'design.css' %}" rel="stylesheet">
</head>
<body>
  <div id="mein-menu">
  <div class="pure-menu nmkn-menu">
    <h1 class="pure-menu-heading logo">LinuxChallenge</h1>
    <hr>
    <ul class="pure-menu-list">
      <li class="pure-menu-item"><a href="{%url 'challenge' %}" class="pure-menu-link nmkn-item"><i class="fi-flag"></i>Challenges</a></li>
      <hr>
      <li class="pure-menu-item"><a href="{%url 'ranking' %}" class="pure-menu-link nmkn-item"><i class="fi-trophy"></i>Ranking</a></li>
      <li class="pure-menu-item"><a href="{%url 'notice' %}" class="pure-menu-link nmkn-item"><i class="fi-alert"></i>Notice</a></li>
    </ul>
  </div>
    <div id="menu-footer">
      {% block login_required %}
      {% endblock %}
  </div>
</div>
  
  <div id="content">
    {% block contents %}
    {% endblock %}
  </div>
</body>
</html>
