{% extends "base.html" %}

{% block contents %}
    {#         レベルの数だけループ#}
    {% for ques_per_lev in questions_per_lev %}
        <caption>level{{ ques_per_lev.levels.stage }}</caption>
        <table class="striped bordered">
            <thead>
           <tr>
              <th>Title</th>
              <th>Points</th>
              <th>Points you got</th>
           </tr>
           </thead>
        <tbody>
         {% for question in ques_per_lev.questions %}
             {% if not question.q.id == None %}
             <tr>
             <td><a href="../questions/{{ question.q.id }}">{{ question.q.title }}</a></td>
             <td>{{ question.q.points }}</td>
             <td>{{ question.get_points }}</td>
             </tr>
             {% endif %}
         {% endfor %}
        </tbody>
        </table>
    {% endfor %}
     <div>
     <a class="waves-effect waves-light btn" href="../logout">logout</a>
     </div>
{% endblock %}