{% extends "base.html" %}

{% block contents %}
    {#         レベルの数だけループ#}
    {% for ques in questions_per_lev %}
        <caption>level{{ ques.levels.stage }}</caption>
    <table class="striped">
          <thead>
          <tr>
              <th>Title</th>
              <th>Points</th>
{#              <th>Solved</th>#}
          </tr>
          </thead>
         <tbody>
         {% for q in ques.questions %}
         <tr>
             <td><a href="../questions/{{ q.id }}">{{ q.title }}</a></td>
             <td>{{ q.points }}</td>
         </tr>
         {% endfor %}
         </tbody>
         </table>
    {% endfor %}
     <div>
     <a class="waves-effect waves-light btn" href="../logout">logout</a>
     </div>
{% endblock %}