{% extends "base.html" %}

 {% block contents %}
     <h1 xmlns="http://www.w3.org/1999/html">
     \Linux/
     </h1>
     <p>
     初めてならサインアップしてそれ以降はLogin押すといいんじゃないですかね
     </p>
     <a class="waves-effect waves-light btn" href="signup.html">
         Sign Up!
     </a>

     {% if object.id %}
    <h1>Update User</h1>
{% else %}
    <h1>hey!!!!</h1>
{% endif %}
     <div>
     {% if form.errors %}
         <p>Your username and password didn't match. Please try again.</p>
     {% endif %}
      <form method="post" action="">
     <fieldset>
     {% csrf_token %}
         {{ form.as_p }}
         <input class="waves-effect waves-light btn" type="submit" value="Login">
         </fieldset>
              </form>
     </div>
     <div>
     <a class="waves-effect waves-light btn" href="logout">logout</a>
     </div>
{% endblock %}


