{% extends "base.html" %}

 {% block contents %}
     <h1 xmlns="http://www.w3.org/1999/html">
     \Linux/
     </h1>
     <p>
     初めてならサインアップしてそれ以降はLogin押すといいんじゃないですかね
     </p>
{#     <a class="waves-effect waves-light btn">#}
{#         Sign Up!#}
{#     </a>#}
{#     </br>#}
{#     <a class="waves-effect waves-light btn">#}
{#         Login#}
{#     </a>#}
     {% if object.id %}
    <h1>Update User</h1>
{% else %}
    <h1>Create User</h1>
{% endif %}
     <div>
{#     {% if form.errors %}#}
{#         <p>Your username and password didn't match. Please try again.</p>#}
{#     {% endif %}#}
     </div>
     <form method="post" action="signup">
     <fieldset>
     {% csrf_token %}
         {{ form.as_p }}
         <input type="submit" value="Create_User">
         </fieldset>
              </form>
{% endblock %}


