{% extends "base.html" %}

 {% block contents %}
  <div class="card">
    <h1>Linux Challenge Returns</h1>
    <p>
      Welcome to LinuxChallenge!
    </p>
    <hr>
    {% if object.id %}
      <h1>Update User</h1>
    {% else %}
      <h2>Login</h2>
    {% endif %}
    {% if form.errors %}
      <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
    <form method="post" action="{%url 'login' %}" class="pure-form">
      <fieldset>
        {% csrf_token %}
        {{ form.as_p }}
        <button class="pure-button pure-button-primary" type="submit">Login</button>
        <a class="pure-button pure-button-success" href="{% url 'signup' %}">
        Not registered, Sign Up now!
        </a>
      </fieldset>
    </form>
  </div>
{% endblock %}


