{% extends "base.html" %}

{% block contents %}
        <h1>Q.{{ question.id }}. {{ question.title }}</h1>
        <div class="sentence">
            {{ question.sentence }}
        </div>
    {% for message in messages %}
    <p>{{ message }}</p>
{% endfor %}
    <div class="message">
    {% if not is_correct == None %}
    {% if  is_correct %}
        <p>correct</p>
        {% elif not is_correct %}
        <p>That's incorrect.</p>
    {% endif %}
    {% if is_duplicate %}
    <p>duplicate</p>
    {% endif %}
       {% endif %}
    </div>
    <form method="post" action="/answer/">
    <fieldset>
        {% csrf_token %}
        {{ form.as_p }}
        <input class="waves-effect waves-light btn" type="submit" value="submit">
    </fieldset>
    </form>

{% endblock %}