main_color = #00BCD4
sub_color = #0097A7
accent_color = #FF4081
accent_sub_color = #776758

font_color = #EDE7E7
menu_font_color = #FFFFFF
link_color = #71B1D4

#mein-menu
  bottom 0
  top 0
  width 200px
  height calc(100% - 45px)
  overflow auto
  position fixed
  
  background-color main_color
  color menu_font_color
  
  .logo
    text-transform none
    font-size 17px
    text-align center
    color menu_font_color
    margin-bottom 0
  
  .nmkn-item
    color menu_font_color
    
    &:hover
      color main_color
      background-color font_color
    
    &:focus
      color main_color
      background-color font_color
    
  .nmkn-menu
    margin-bottom 50px
    overflow hidden
  
  i 
    margin-right 0.5em
  
  hr
    border solid sub_color 1px
  
  #menu-footer
    display table
    bottom 0
    height 45px
    width 200px
    position fixed
    overflow hidden
    background-color sub_color

    .user-info
      text-align center
      display table-cell
      vertical-align middle

#content
  margin-left 210px
